{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
</head>
<link rel="stylesheet" href="{% static 'account/login.css' %}">
<body>
    <div class="loginbox">
        <h1>Login Here</h1>
        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
           <p>Username</p>
           <input type="text"name="name"placeholder="Enter your username">
           <p>Password</p>
           <input type="password"name="password"placeholder="Enter your password"><br>
           <input type="submit"name=""value="Login"><br>
           <a href="#">Forgot Password</a><br>
           <a href="#">New User Registration</a>
        </form>
    </div>
</body>
</html>